@import '_config.scss';

header {
  position: relative;
  display: block;
  width: 100%;
  background: $black;
  color: $white;
  height: 90px;

  .logo {
    position: absolute;
    top: 50%; left: 15px;
    @include translateY(-50%);
  }

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
  }

  nav {
    position: absolute;
    top: 50%; right: 15px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px;

      &.contact {
        margin: 0;
      }

      a {
        text-decoration: none !important;
        font-size: 19px;
        line-height: normal;
        color: $white;
      }

    }
  }
}

.projectEntry {
  text-align: left;
  padding-right: 32%;

  p {

  }
}

.chatWrapper {
  background: $lightGray;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 40%;
  width: 30%;
  padding: 10px;

  .chatMinMax {

  }

  .chatInput {
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .chatOutput {
    border-style: dashed;
    border-width: 1px;
    border-color: #cacaca;
    height: 50%;
    overflow: scroll;
    overflow-x: hidden;
    /*padding does cause issues since it controls how big box is around words,
    making it unnecessarily large. fix. scroll box?*/
  }

  .shoutOut {
    font-size: 10px;
    color: #cacaca;
  }
}
